.extra {
    font-family: Montserrat;
    font-weight: 900;
    font-style: italic;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 3s infinite linear;
    -webkit-animation: hue 3s infinite linear;
}

@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(-360deg);
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/* Animation purposes over! */






/* BUTTON ANIMATED */

.glow-on-hover {
    /* width: 220px;
    height: 50px; */
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





/* Fot title and description boxes to become dark */

.my-title{
    background-color: rgb(78, 83, 88);
    border: none;
    color: white;
}
.my-title:focus{
    background-color: rgb(78, 83, 88);
    color: white;
}

.my-description{
    background-color: rgb(78, 83, 88);
    border: none;   
    color: white;
}
.my-description:focus{
    background-color: rgb(78, 83, 88);
    color: white;
}



.my-search{
    background-color: rgb(78, 83, 88);
    border: none;   
    color: white;
}
.my-search:focus{
    background-color: rgb(78, 83, 88);
    color: white;
}

.my-search::placeholder{
    color: rgb(153, 153, 153);
}